[Unit]
Description=XMPP Server
After=network.target
After=ejabberd-environment.service
Requires=ejabberd-environment.service

[Service]
User=ejabberd
Group=ejabberd
LimitNOFILE=16000
RestartSec=5
EnvironmentFile=-/etc/ejabberd/environment
ExecStart=/bin/sh -c '/opt/ejabberd-${VERSION}/bin/ejabberdctl start'
ExecStop=/bin/sh -c '/opt/ejabberd-${VERSION}/bin/ejabberdctl stop'
ExecReload=bin/sh -c '/opt/ejabberd-${VERSION}/bin/ejabberdctl reload_config'
Type=forking
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
